MINERU_API_MAX_CONCURRENT_REQUESTS=4
MINERU_PROCESSING_WINDOW_SIZE=64
WORKER_CONCURRENCY=4
DEFAULT_BACKEND=hybrid-auto-engine
DEFAULT_PARSE_METHOD=auto
DEFAULT_LANG=en
JOB_RESULT_TIMEOUT_SECONDS=7200
MAX_UPLOAD_BYTES=536870912
